<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-fcb015f0-5ab6-4ad8-9527-d0d0ebc5d943;AttachDbFilename=|DataDirectory|\aspnet-Website-fcb015f0-5ab6-4ad8-9527-d0d0ebc5d943.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

    <add name="NorthwindDB"
          connectionString="Data Source=.; Initial Catalog=Northwind; Integrated Security=true"
          providerName="System.Data.Sqlclient"/>

  </connectionStrings>